{% extends "base.html" %}
{% block content %}

    {% include "header.html" %}
    <div class="container-fluid" >
        {% if error_message %}
            <div class="alert alert-danger">{{error_message}}</div>
        {% endif %}
        <a class="btn btn-primary" href="/blog/newpost">New post</a>
        {% for p in posts %}
            {% if user %}
                {{ p.render(user.key()) | safe }}
            {% else %}
                {{ p.render(0) | safe }}
            {% endif %}
            <br><br>
        {% endfor %}
    </div>

{% endblock %}

