{% extends "base.html" %}

{% block content %}
  <h2>new post</h2>

    {% if error_message %}
      <div>{{error_message}}</div>
      <a href="/blog/">Back to blog</a>
    {% else %}

      <form method="post">
        <label>
          <div>subject</div>
          <input type="text" name="subject" value="{{subject}}">
        </label>

        <label>
          <div>blog</div>
          <textarea name="content">{{content}}</textarea>
        </label>

        <div class="error">{{error}}</div>

        <input type="submit">
      </form>
    {% endif %}
{% endblock %}
