<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <a href="/blog/edit/{{p.key().id()}}">Edit</a>
  | <a href="/blog/delete/{{p.key().id()}}">Delete</a>
  <form action="/blog/like/{{p.key().id()}}" method='post'>
    <button type="submit"  type="submit"> Like </button>{{p.likes}}
  </form>
    {% for c in p.comments %}
      {{ c.render() | safe }}
      <br><br>
    {% endfor %}
    <a href="/comment/newcomment/{{p.key().id()}}">New comment</a>

</div>
